* {
    margin:0px;
    padding: 0px;
}

#flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 695px;
    width: 435px;
    background-color: green;
}
#flex-two{
    width: 445px;
    height: 415px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#flex-three{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 275px;
    height: 440px;
}
#header{
    height: 100px;
    width: 400px;
    background-color: darkkhaki;
}
#menu{
    height: 400px;
    width: 100px;
    background-color: pink;
}
#post {
    height: 190px;
    width: 275px;
    background-color: black;
}
#footer{
    height: 100px;
    width: 400px;
    background-color: darkgoldenrod;
}

